aiohttp==1.0.5
async-timeout==2.0.1
beautifulsoup4==4.6.0
certifi==2018.4.16
chardet==3.0.4
discord==0.0.2
discord.py==0.16.12
Ghost.py==0.2.3
idna==2.6
lxml==4.6.2
multidict==4.2.0
requests==2.18.4
selenium==3.11.0
sip==4.19.8
urllib3==1.23
websockets==3.4
